{% extends "layout.html" %}

{% block content %}

<div class="container wrapper flex-grow-1">
    <h1 class="my-4">Метки</h1>
    <a class="btn btn-primary mb-3" href="{% url 'label_create' %}">Создать метку</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Дата создания</th>
                <th></th>
            </tr>
        </thead>
    <tbody>
        {% for label in labels %}
        <tr>
            <td>{{ label.id }}</td>
            <td>{{ label.name }}</td>
            <td>{{ label.created_at }}</td>
            <td>
                <a href="{% url 'label_update' label.id %}">Изменить</a>
                <br>
                <a href="{% url 'label_delete' label.id %}">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>

{% endblock  %}