{% extends "layout.html" %}

{% block content %}

<div class="container wrapper flex-grow-1">
    <h1 class="my-4">Задачи</h1><a class="btn btn-primary mb-3" href="/tasks/create/" role="button">Создать задачу</a>
    <div class="card mb-3">
        <div class="card-body bg-light">
            <form class="form-inline center" action="{% url 'all_tasks' %}" method="get">
                <div class="mb-3">
                    <label class="form-label" for="{{ form.status.id_for_label }}">Статус</label>
                    {{ form.status }}
                </div>
                <div class="mb-3">
                    <label class="form-label" for="{{ form.executor.id_for_label }}">Исполнитель</label>
                    {{ form.executor }}
                </div>
                <div class="mb-3">
                    <label class="form-label" for="{{ form.labels.id_for_label }}">Метка</label>
                    {{ form.labels }}
                </div>
                <div class="mb-3">
                    <div class="form-check">
                        {{ form.own_task }}
                        <label class="form-check-label" for="{{ form.own_task.id_for_label }}">Только свои задачи</label>
                    </div>
                </div>
                <div class="d-grid">
                    <input class="btn btn-primary" type="submit" value="Показать">
                </div>
            </form>
        </div>
    </div>
    <table class="table table-striped">
    <thead>
        <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Статус</th>
        <th>Автор</th>
        <th>Исполнитель</th>
        <th>Дата создания</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        
        <tr>
            <td>{{ task.id }}</td>
            <td>
                <a href="{% url 'view_task' task.id %}">{{ task.name }}</a>
            </td>
            <td>{{ task.status }}</td>
            <td>{{ task.creator }}</td>
            <td>{{ task.executor }}</td>
            <td>{{ task.created_at }}</td>
            <td>
                <a href="{% url 'task_update' task.id %}">Изменить</a>
                <br>
                <a href="{% url 'task_delete' task.id %}">Удалить</a>
            </td>
        </tr>

        {% endfor %}
    </tbody>
    </table>
</div>

{% endblock  %}